<main class="container">
    <div class="ajouterBtn">
        <a routerLink="/admin/add">
            <div *ngIf="authService.isAdmin()">
            <button   mat-flat-button color="accent">
                Ajouter un devoir
            </button>
            </div>
        </a>
    </div>
<table [dataSource] ="assignments" mat-table  class="mat-elevation-z8" multiTemplateDataRows>
    
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="No">
      <th mat-header-cell  *matHeaderCellDef > No. </th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Devoir" >
      <th mat-header-cell *matHeaderCellDef> Devoir </th>
      <td mat-cell *matCellDef="let assignment">{{assignment.nom}}  </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date de Rendu </th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date}}</td>
    </ng-container>

     <!-- Rendu Column -->
    <ng-container matColumnDef="Rendu" >
        <th mat-header-cell *matHeaderCellDef> Rendu </th>
        <td mat-cell *matCellDef="let assignment">
            <p appRendu *ngIf="assignment.rendu else nonsoumis">
                <img width="40px" src="../../assets/true.png">
            </p>
            <ng-template #nonsoumis>
                <p>
                    <img width="40px" src="../../assets/croix.jfif">
                    
                </p>
            </ng-template>
        </td>
    </ng-container>

    <!-- Button Columns -->
    <ng-container matColumnDef="Action" >
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let assignment">
            <button  (click)="assignmentClique(assignment)" routerLink="/admin/assignment/{{assignment.id}}"   mat-flat-button color="accent">Detail </button>
        </td>
    </ng-container>
      

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    

  </table>
  