<p>Titre = {{titre}}</p>

<app-add-assignment></app-add-assignment>
 

    <mat-list *ngFor="let assignment of assignments">
         <!-- [ngClass]="{'rendu' : assignment.Rendu, 'non-rendu' : !assignment.Rendu}"> -->
    <!-- [ngStyle]="{'color' : assignment.Rendu ? 'green' : 'red'}"> -->
    <!-- <p>
        Devoir intitulé {{assignment.Nom}}, à rendre le {{assignment.DateDeRendu | date: 'dd/MM/yyyy'}}, soumis par l'élève : {{assignment.Rendu}}.
    </p> -->
        <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
        <mat-list-item (click)="assignmentClique(assignment)">
            <p appRendu *ngIf="assignment.rendu else nonsoumis">
                Le devoir {{assignment.nom}} a été rendu. 
            </p>
            <ng-template #nonsoumis>
                <p>
                    Le devoir {{assignment.nom}} n'a pas encore été rendu.
                </p>    
            </ng-template>
            <mat-divider> </mat-divider>
        </mat-list-item>
    </mat-list>

    <app-add-assignment></app-add-assignment>
    
    <app-assignment-detail [assignmentTransmis]="assignmentSelectionne">

    </app-assignment-detail>