.rendu {
    color: green;
}

.non-rendu {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
}

.ajouterBtn {
    align-self: flex-end;
    margin-bottom: 15px;
    margin-right: 15px;
}





table {
    
    width: 100%;
  }
