


  .sidenav-container {
    height: 100%;
  
  }
  mat-sidenav-container{
    min-height: 400px;
  }
  
  mat-sidenav {
    width: 300px;
  }
  
  .content {
    padding: 25px;
  }
  
  mat-toolbar {
    display: flex;
    align-items: center;
  }
  
  mat-icon {
    margin-right: 8px; /* Adjust as needed */
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  mat-nav-list a {
    display: flex;
    align-items: center;
    padding: 10px; /* Adjust as needed */
    text-decoration: none; /* Remove underlines from links */
    color: inherit; /* Inherit text color from parent */
  }

  h1{
    margin-left: 15px;
  }
  ul {
  margin-right: 10px;
  }

  li {
    list-style-type: none;
  }

  .logout{
    margin-bottom: 7px;
   
  }

  img{
    padding-left: 100px;
  }